{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'webapp/style.css' %}">
    <title>About Us - My Website</title>
</head>
<body>

   {% include 'webapp/topnavbar.html' %}

    <main>
        <section>
            <h2>About Us</h2>
            <p>Replace this text with information about your company or organization.</p>
            <!-- Add more content as needed -->
        </section>
    </main>

    <script src="{% static 'webapp/script.js' %}"></script>
</body>
</html>
